<ion-header>
  <ion-toolbar>
    <ion-title>
      Új Posztok
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="frissites($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let poszt of posztok">

    <ion-card>
      <ion-card-header>
        <ion-img [src]="'data:image/png;base64,' + poszt.kep"></ion-img>
        <ion-card-subtitle>{{poszt.helyszin}}</ion-card-subtitle>
        <ion-card-title>{{poszt.cim}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{poszt.leiras}}
      </ion-card-content>

      <ion-chip>{{poszt.felhasznalo}}</ion-chip>
    </ion-card>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onPostButtonClick()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>